# How Do I select a Pandas Series From a Data Frame

In [1]:
import pandas as pd

In [6]:
ufo=pd.read_table("http://bit.ly/uforeports",sep=',')

In [7]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [9]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [10]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [16]:
# When your are selecting the series of column then there was a spce betwwen  header name then it it will not work with (.) method you have use it like

# ufo.colors Reported ----> Wrong Way to use
# You have also remember that you name a colunm header bultin method then it was error
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [17]:
# Creating a New Series Colunm In Data Frame

In [19]:
ufo['Location']=ufo.City +' , '+ ufo.State

In [25]:
# Head Method is used for to show first five rows of the data frame you can also pass parameter in the Brackets to 
#                                                                                          view how many Rows you want to view
ufo.head(10)

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca , NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro , NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke , CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene , KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair , NY"
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,"Valley City , ND"
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,"Crater Lake , CA"
7,Alma,NaN,DISK,MI,7/15/1936 0:00,"Alma , MI"
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,"Eklutna , AK"
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,"Hubbard , OR"

In [26]:
ufo.tail(10)

,City,Colors Reported,Shape Reported,State,Time,Location
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00,"Pismo Beach , CA"
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30,"Lodi , WI"
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00,"Anchorage , AK"
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00,"Capitola , CA"
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00,"Fountain Hills , AZ"
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00,"Grant Park , IL"
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00,"Spirit Lake , IA"
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45,"Eagle River , WI"
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45,"Eagle River , WI"
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59,"Ybor , FL"

In [27]:
ufo.shape

(18241, 6)